---
import Section from "@/components/Section.astro";
---

<Section
  title="Comparación de instalaciones con fibras ópticas y con cables metálicos"
>
  <h3>Ventajas de los sistemas de fibra óptica</h3>
  <ul>
    <li>
      Mayor capacidad de información: los sistemas de fibra óptica ofrecen una
      capacidad de transmisión significativamente superior gracias a sus mayores
      anchos de banda. Pueden transmitir varios gigabits por segundo a través de
      largas distancias, permitiendo combinar millones de canales de datos y voz
      en un solo cable.
    </li>
    <li>
      Inmunidad a la diafonía: las fibras ópticas no sufren de diafonía debido a
      que no son conductoras de electricidad y, por lo tanto, no tienen campos
      magnéticos que induzcan interferencias.
    </li>
    <li>
      Inmunidad a la interferencia por estática: las fibras ópticas no se ven
      afectadas por el ruido electromagnético de rayos, motores eléctricos y
      luces fluorescentes, haciendo que sean ideales para aplicaciones en
      entornos ruidosos y militares.
    </li>
    <li>
      Inmunidad al ambiente: los cables ópticos son más resistentes a los
      extremos en el ambiente que los cables metálicos. También, los cables
      ópticos funcionan dentro de variaciones más amplias de temperatura y son
      menos afectados por los líquidos y gases corrosivos.
    </li>
    <li>
      Seguridad y facilidad de instalación: las fibras ópticas no conducen
      electricidad, lo que las hace seguras para usar cerca de líquidos
      volátiles y gases sin riesgo de explosiones. Son más ligeras y fáciles de
      manejar, requiriendo menos espacio de almacenamiento y siendo más fáciles
      de transportar.
    </li>
    <li>
      Seguridad: es prácticamente imposible interceptar una señal de fibra
      óptica sin ser detectado, y los cables de fibra no pueden ser localizados
      con detectores de metales a menos que tengan refuerzos de acero.
    </li>
    <li>
      Duran más: aunque todavía no se ha demostrado, se anticipa que los
      sistemas de fibra óptica durarán más que las instalaciones metálicas. Esta
      hipótesis se basa en las mayores tolerancias que tienen los cables de
      fibra frente a cambios en las condiciones ambientales, y en su inmunidad a
      las sustancias corrosivas
    </li>
    <li>
      Economía: el costo de los cables de fibra óptica es, aproximadamente,
      igual al de los cables metálicos. Sin embargo, los cables de fibra tienen
      menores pérdidas y en consecuencia requieren menos repetidoras. Esto
      equivale a menores costos de instalación y del sistema en general, así
      como a mayor confiabilidad.
    </li>
  </ul>
  <h3>Desventajas de los sistemas de fibra óptica</h3>
  <ul>
    <li>
      Costos de interconexión: los sistemas de fibra óptica son virtualmente
      inútiles por sí mismos. Para ser prácticos se deben conectar a
      instalaciones electrónicas normales, lo cual requiere con frecuencia
      interconexiones costosas.
    </li>
    <li>
      Resistencia: las fibras ópticas de por sí tienen una resistencia bastante
      menor a la tensión que los cables coaxiales. Esto se puede mejorar
      recubriendo la fibra con Kevlar normal y una chaqueta protectora de PVC.
    </li>
    <li>
      Potencia eléctrica remota: a veces es necesario llevar energía eléctrica a
      un equipo remoto de interconexión o de regeneración. Esto no se puede
      hacer con el cable óptico, por lo que se deben agregar más cables
      metálicos en el cableado.
    </li>
    <li>
      No están demostrados: los sistemas de cable de fibra óptica son
      relativamente nuevos, y no han tenido el tiempo suficiente para demostrar
      su confiabilidad.
    </li>
    <li>
      Herramientas, equipo y adiestramiento especializados: las fibras ópticas
      requieren herramientas especiales para empalmar y reparar cables, y
      equipos especiales de prueba para hacer medidas rutinarias. También es
      difícil y costoso reparar cables de fibra, y los técnicos que trabajan con
      cables de fibra óptica necesitan también tener destrezas y adiestramiento
      especiales.
    </li>
  </ul>
</Section>
