---
import Section from "@/components/Section.astro";
---

<Section>
  <h1>Comunicaciones con fibra óptica</h1>
  <figure>
    <img src="/public/fibra-óptica.jpg" alt="comunicaciones con fibra optica" />
  </figure>
  <p>Autor: María Martínez</p>
</Section>

<style>
  h1 {
    font-size: 2rem;
  }

  h2 {
    color: #333;
    font-weight: 400;
    font-size: 0.9rem;
    text-wrap: balance;
  }

  img {
    width: 700px;
  }
</style>
