---
import Section from "@/components/Section.astro";
---

<Section title="Historia de las fibras ópticas">
  <p>
    En 1880, Alexander Graham Bell experimentó con el fotófono, un dispositivo
    que transmitía ondas sonoras sobre un rayo de luz. Aunque poco práctico, fue
    el primer intento de usar la luz para comunicar información. La transmisión
    de luz a través de la atmósfera resultó impráctica debido a la absorción y
    atenuación de las señales por el vapor de agua, oxígeno y partículas en el
    aire. Por ello, se desarrollaron las fibras ópticas para guiar la luz. <br
    /><br />
    En 1930, J.L. Baird y C.W. Hansell patentaron sistemas de transmisión de imágenes
    por fibras no recubiertas. En la década de 1950, se hicieron avances significativos
    cuando A.C.S. van Heel, H.H. Hopkins, y N.S. Kapany experimentaron con haces
    de fibras, llevando al desarrollo del fibroscopio flexible y acuñando el término
    <b>fibra óptica</b>. <br /><br />
    El desarrollo del láser en 1960, con su alta potencia y capacidad de ancho de
    banda, fue crucial para las comunicaciones ópticas. En 1967, K.C. Kao y G.A.
    Bockham propusieron el uso de cables de fibra revestida, marcando el inicio de
    los sistemas prácticos de fibra óptica. <br /><br />
    En 1970, se desarrollaron fibras con pérdidas menores a 2 dB/km, lo que permitió
    transmisiones más largas. Los años 1970 y 1980 vieron mejoras significativas
    en cables ópticos, fuentes luminosas y detectores, permitiendo sistemas de comunicaciones
    de alta capacidad y eficiencia. Para 1988, se logró una transmisión récord de
    10 Gbps a través de 80.1 km de fibra, y las redes ópticas se volvieron comunes
    en las telecomunicaciones.
  </p>
</Section>
