---
import Section from "@/components/Section.astro";
---

<Section title="Referencias">
  <p>
    Tomasi, W. (2003). Sistemas de comunicaciones electrónicas (4ta ed.).
    Pearson Educación.
  </p>
</Section>
